* {
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}

:root {

}
body {
	background-color: #eeeef7;
	font-size: 1vw;
	line-height: 1.5;
}

header {
	align-items: center;
	background-color: #31343d;
	display: flex;
	justify-content: space-between;
}

header h1{
	font-size: 2vw;
	background-color: #92ccce;
	color:#31343d;
	padding: 5px 10px 5px 75px;
	margin: 10px 0 10px 0;
}

.links li {
	display: inline;
	list-style: none;
}

.links a {
	border-bottom: 2px solid #92ccce;
	color: #92ccce;
	margin-right: 20px;
	padding: 5px;
	text-decoration: none;
	
}

.banner {
	display: flex;
	align-items: flex-end;
	width: 100%;
	background-image: url(./images/bannerrainbow.avif);
	background-size: cover;
	background-position: center;
	border-bottom-left-radius: 100px;
	border-top-left-radius: 100px;
	justify-content: space-between;
	margin-bottom: 2%;
}

.banner h2 {
	background-color: #92ccce;
	margin: 1%;
}

.imgMe {
	width: 10%;
	border-color: rgb(63, 5, 5);
	border-style: groove;
	border-radius: 125px;
}

.sideBar {
	color: #445877;
	display: flex;
	justify-content: flex-end;
	margin-right: 1%;
	min-width: 20%;
}

.aboutMeContent {
	display: flex;
	margin-top: 2%;
	margin-bottom: 4%;
}

.placeHolderName {
	border-left: 5px solid #6d7d96;
	display: flex;
	align-items: flex-start;
	padding: 0 1%;
	margin-right: 2%;
}


.workContent {
	display: flex;
}

 .workImgContainer {
	border-left: 5px solid #6d7d96;
	display: grid;
	grid-template-columns:repeat(16, 1fr);
	margin-bottom: 50px;
	max-width: 65%;
 }

 .workContentImg {
	border: 5px solid #92ccce;
	margin: 10px;
	width: 100%;
	object-fit: cover;
 } 

 .topWorkImg { 
	width: 100%;
	position: relative;
	grid-column: 1 / 16;
 }

.leftWorkImg {
	position: relative;
	grid-column: 1 / 8;
}

.rightWorkImg {
	position: relative;
	grid-column: 9 / 16;
}

.cardText {
	background-color: #92ccce ;
	bottom: 10%;
	left: 1%;
	padding: 1% 3% 1% 5%;
	position: absolute;
}

 footer {
	display: flex;
	margin-bottom: 50px;
 }

 .contactLinks {
	border-left: 5px solid #6d7d96;
 }

 .contactLinks li {
	border-bottom: 5px solid #92ccce;
	display: inline-block;
	list-style: none;
	padding: 5px;
	margin-left: 10px;
}

.contactLinks a {
	color:#31343d;
	text-decoration: none;
}

@media screen and (max-width: 768px) {
	* {
		font-size: 2vw;
	}

	.cardText {
		position: absolute;
		bottom: 20%;
	}
}

@media screen and (max-width: 480px) {
	.workImgContainer {
		display: block;
	}

	.banner {
		display: none;
	}
}


