* {
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;

}

:root {

}

body {
	background-color: #eeeef7;
	line-height: 1.5;

}

header {
	align-items: center;
	background-color: #31343d;
	display: flex;
	justify-content: space-between;
}

header h1{
	background-color: #92ccce;
	color:#31343d;
	padding: 5px 10px 5px 75px;
	margin: 10px 0 10px 0;
}

.banner {
	display: flex;
	align-items: center;
	height: 300px;
	width: 100%;
	background-image: url(./images/bannerrainbow.avif);
	background-size: cover;
	background-position: center;
	justify-content: space-between;
}

.banner h2 {
	background-color: #92ccce;
	padding: 5px 10px 5px 10px;
	position: relative;
	margin-right: 100px;
	top: 35%;
}

footer {
	display: flex;
	align-items: center;
}

.imgMe {
	width: 250px;
	height: 250px;
	border-color: rgb(63, 5, 5);
	border-style: groove;
	border-radius: 150px;
	margin-left: 20px;
}

.links ul {
	display: flex;
	justify-content: space-around;
	list-style: none;
	
}

.links a {
	border-bottom: 2px solid #92ccce;
	color: #92ccce;
	margin-right: 20px;
	padding: 0 10px 0 10px;
	text-decoration: none;
	
}

.sideBar {
	display: flex;
	font-size: 40px;
	justify-content: center;
	margin: 50px;
	max-width: 140px;
	padding-left: 150px;
}

.placeHolderName {
	border-left: 5px solid blue;
	margin: 25px 50px 0 0;
}

.placeHolderName p {
	margin-left: 50px;
}

.aboutMeContent {
	display: flex;
}

.workContent {
	display: flex;
	justify-content: space-between;
	margin-top: 50px
}

.workImgContainer {
	border-left: 5px solid blue;
	display: flex;
	flex-flow: row wrap-reverse;
}

 .workContentImg {
	border: 5px solid #92ccce;
	margin: 10px 10px 10px 50px;
 }

 .contactLinks {
	border-left: 5px solid blue;
	display: flex;
 }

 .contactLinks ul {
	display: flex;
	list-style: none;
}
